<br>
<h1>Bem-Vindo</h1>


<div class="ui-g">

  <div class="center">
    <p-card header="Pessoas" subheader="Listagem e Cadastro" [style]="{width: '360px', float:'right'}"
      styleClass="ui-card-shadow">
      <p-header>
        <br>
        <img src="Card" src="./assets/img/student.png">
      </p-header>
      <div>Nesta seção você poderá visuzalizar, adicionar, editar e remover as <strong>pessoas</strong>
        selecionadas.</div>
      <p-footer>
        <button pButton type="button" label="Pessoa" icon="pi pi-angle-right" (click)="eventPessoa()"
          pTooltip="Acessar Pessoas" tooltipPosition="bottom"></button>
      </p-footer>
    </p-card>
  </div>

</div>