<div class="p-col-12 header">
    <div class="ui-g ui-fluid">
        <div class="ui-g-2 ui-md-2">
            <button pButton type="button" icon="pi pi-bars" iconPos="left" (click)="openMenu()" pTooltip="Menu"
                tooltipPosition="right"></button>
        </div>

        <div class="ui-g-8 ui-md-8">
            <h2 class="texto">
                <img src="./assets/img/school.png" class="header-img">
            </h2>
        </div>

        <div class="ui-g-2 ui-md-2">
            <button pButton type="button" icon="pi pi-sign-out" iconPos="left" style="float: right;"
                [routerLink]="['/login']" pTooltip="Sair" tooltipPosition="left"></button>
        </div>

        <p-sidebar [(visible)]="menu" position="left" [baseZIndex]="10000" class="header">
            <br>
            <div class="menu-logo">
                <br>
                <img src="./assets/img/school.png" class="menu-img">
                <h3 class="texto" style="color:#271560">Links Disponíveis</h3>
            </div>
            <br>

            <hr>
            <ul>
                <h4 class="texto-menu" [routerLink]="['/home/pessoa']" (click)="closeMenu()"><i
                        class="pi pi-id-card icones"></i> Pessoa</h4>
                <hr>

                <h4 class="texto-menu" [routerLink]="['/home/card']" (click)="closeMenu()"><i
                        class="pi pi-home icones"></i> Início </h4>
                <hr>

                <h4 class="texto-menu" [routerLink]="['/login']" (click)="closeMenu()"> <i
                        class="pi pi-sign-out icones"></i> Sair </h4>
            </ul>
            <hr>

            <br>
                <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="pt_BR" data-type="vertical" data-theme="light" data-vanity="victormedeiros95"><a class="LI-simple-link" href='https://br.linkedin.com/in/victormedeiros95?trk=profile-badge'>Victor Medeiros</a></div>
            <br>

        </p-sidebar>