.background {
background: linear-gradient( #fff, #e6e5f0);
    color: #271560;
}

.container {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

strong {
    color: #271560;
}

.img-card {
    left: 50%;
}